{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                {% for old_saldo in month_ago_saldo%}
                                <h4 class="title">Остаток на {{ old_saldo.date_saldo|date:"d.m.Y"|default_if_none:"" }}: {{ old_saldo.count_saldo }} сум</h4>
                                {% endfor %}
                            </div>

                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>ID</th>
                                        <th>Дата</th>
                                        <th>Организации</th>
                                    	<th>Приход</th>
                                        <th>Расход</th>
                                        <th>Проводка</th>


                                    </thead>
                                    <tbody>
                                    {% for m in main %}
                                        <tr>
                                        <script>console.log({{ p }})</script>
                                        	<td>{{ m.main.id}}</td>
                                            <td>{{ m.main.date|date:"d.m.Y"|default_if_none:"" }}</td>
                                            <td>{{ m.main }}</td>
                                            <td>{{ m.prixod|default_if_none:"0" }}</td>
                                            <td>{{ m.rasxod|default_if_none:"0" }}</td>
                                            <td>{{ m.main.provodka }}</td>
{#                                            <td>{{ m.main.date_main|date:"d.m.Y"|default_if_none:"" }}</td>#}
{#                                            <td>{{ m.main }}</td>#}
{#                                            <td>{{ m.prixod.summa  }}</td>#}
{#                                            <td>{{ m.rasxod.summa }}</td>#}




                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                            <div class="bottom">
                                <h4 class="title">Итого расход: {{ rasxod_sum }}</h4>
                                <h4 class="title">Итого приход: {{ prixod_sum }}</h4>
                                <h4 class="title">Остаток на {{ today }} : {{ saldo_now }}</h4>
                                <a href="{% url 'excel' %}" type="button" class="btn btn-info m-t-10 float-right">Excel</a>
                            </div>

                        </div>
                    </div>





                </div>
            </div>
        </div>
{% endblock %}