{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Создать салдо</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Отдел</label>
                                                <select class="form-control selectpicker show-tick" name="spravichnik" id="region">
                                                    {% for sp in spr %}
                                                        <option value="{{ sp.id }}">{{ sp.department.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Дата</label>
                                                <input name="date" type="date" class="form-control" placeholder="Company" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <input name="tick" type="checkbox" class="form-control" placeholder="Company" >
                                            </div>
                                        </div>

                                    </div>

                                    <button id="formSendButton" type="submit" data-url="{% url 'api-saldo-create' %}" class="btn btn-info btn-fill pull-right">Добавить</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $("#formSendButton").click(function (event) {
                event.preventDefault();

                let formData = new FormData();
                 formData.append("spravichnik", $("select[name='spravichnik']").val());
                formData.append("tick", $("input[name='tick']").val());
                formData.append("date", $("input[name='date']").val());

                $.ajax({
                    url: $(this).data("url"),
                    data: formData,
                    type: "POST",
                    contentType: false,
                    processData: false,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function (data) {
                        var x = document.getElementById("mainSuccess");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            location.reload();
                        }, 1500);
                        window.location.href = '/main/list';
                    },
                    error: function (data) {
                        var x = document.getElementById("mainError");

                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                });
            });
        });
    </script>
{% endblock %}