{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Редактировать отдел</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Парол
                                                <input id="password" name="password" type="text" class="form-control" placeholder="Company" >
                                            </div>
                                        </div>
                                    </div>

                                    <button id="updateButton" type="submit" class="btn btn-success" data-url="{% url 'api-dept-update' department.id %}"> <i class="fa fa-check"></i> Редактировать</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#updateButton").click(function (e) {
                e.preventDefault();


                let formData = new FormData();

                formData.append("password", $("input[name='password']").val());


                var url = $("#updateButton").data("url");
                $.ajax({
                    url: $(this).data("url"),
                    data: formData,
                    type: "PATCH",
                    contentType: false,
                    processData: false,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function (data) {
                        var x = document.getElementById("mainSuccess");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            location.reload();
                        }, 1500);
                        window.location.url = '/department/list';
                    },
                    error: function (data) {
                        var x = document.getElementById("mainError");

                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                });

            })
        });
    </script>
{% endblock %}