{% extends 'base.html' %}
{% load static i18n %}
{% block content %}

    <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Редактировать расход</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <div class="row">
                                        <div id="app">

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Kому</label>
                                                    <select class="form-control selectpicker show-tick" name="prixod" id="region">
                                                        {% for sp in spravichnik %}
                                                            <option value="{{ sp.id }}">{{ sp.department.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Сумма</label>
                                                    <input name="summa" type="text" class="form-control" value="{{ rasxod.summa }}" placeholder="сумма" >
                                                </div>
                                            </div>
                                        <div id="app2">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Дата</label>
                                                    <input name="date_main" type="date" data-date=""  data-date-format="DD MM YYYY" class="form-control"  value="{{ rasxod.date_main|date:"Y-m-d" }}">
{#                                                    #}

                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Проводка</label>
                                                    <input name="provodka" value="{{ rasxod.provodka }}" type="text" class="form-control" placeholder="проводкаы" >
                                                </div>
                                            </div>

                                        </div>

                                    <button id="updateButton" type="submit" class="btn btn-success" data-url="{% url 'api-rasxod-update' rasxod.id %}"> <i class="fa fa-check"></i> Редактировать</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            $("#updateButton").click(function (e) {
                e.preventDefault();


                let formData = new FormData();

                formData.append("prixod", $("select[name='prixod']").val());
                formData.append("summa", $("input[name='summa']").val());
                formData.append("provodka", $("input[name='provodka']").val());
                formData.append("date_main", $("input[name='date_main']").val());


                var url = $("#updateButton").data("url");
                $.ajax({
                    url: $(this).data("url"),
                    data: formData,
                    type: "PATCH",
                    contentType: false,
                    processData: false,
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    success: function (data) {
                        var x = document.getElementById("mainSuccess");
                        x.className = "show";
                        setTimeout(function(){
                            x.className = x.className.replace("show", "");
                            location.reload();
                        }, 1500);
                        window.location.url = 'rasxod/create';
                    },
                    error: function (data) {
                        var x = document.getElementById("mainError");

                        x.className = "show";
                        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                    }
                });

            })
        });
    </script>
{% endblock %}